* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body, html {
    height: 100%;
    overflow: hidden; 
}

/* --- GESTIÓN DE PANTALLAS --- */
.screen {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.screen.active {
    display: flex; 
}

/* --- ESTILOS PANTALLA BIENVENIDA --- */
#welcome-screen {
    /* Aquí cargamos la imagen. Asegúrate de tener la foto en la carpeta correcta */
    background-image: url('../public/portada-bg-1.JPG'); 
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* Capa oscura para que el texto resalte sobre la foto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* 40% de oscuridad */
    z-index: 1;
}

.content-box {
    position: relative;
    z-index: 2; /* Para estar encima de la capa oscura */
    animation: fadeIn 2s ease-in-out; /* Animación de entrada suave */
}

h1 {
    font-size: 3.5rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-weight: 300;
}

/* --- BOTÓN PRINCIPAL --- */
.btn-primary {
    background-color: #ff9f43; /* Un naranja cálido */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 159, 67, 0.4);
    transition: transform 0.2s, background-color 0.2s;
}

.btn-primary:hover {
    background-color: #f39c12;
    transform: scale(1.05); /* Efecto de crecimiento al pasar el mouse */
}

/* --- ANIMACIONES --- */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}